<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <h1></h1>

 

  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOJA de ADOSAU de ANIMAIS seuvaseis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">  </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>

          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</nav>


  <div class="container text-center">
    <% for (let produto of produtos) { %>
    <div class="row">
      <div class="col">
        <img src= <%= produto.imagem %> 
          <div class="card-body">
            <h5 class="card-title"><%= produto.nome %></h5>
            <p class="card-text"><%= produto.descricao %></p>
            <a href="/produtos/<%= produto.id %>" class="btn btn-primary stretched-link">clique</a>
          </div>
      </div>
      <% } %>
      <!--
      <div class="col">
        <div class="card">
          <img src="banda.png" class="img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">Banda vermelho fofo</h5>
            <p class="card-text">O panda-vermelho é um animal solitário que possui cabeça redonda, focinho curto e orelhas triangulares. Seu pelo marrom tem um aspecto avermelhado</p>
            <a href="produto" class="btn btn-primary stretched-link">clicar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="esquilo.png" class="img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">esquilo fofo</h5>
            <p class="card-text">Sua família comprende os esquilos arborícolas</p>
            <a href="produto" class="btn btn-primary stretched-link">clicar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="foga.png" class="img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">Foca fofa</h5>
            <p class="card-text">Esses animais possuem uma camada de gordura que envolve todo o seu corpo, funcionando como um isolante térmico</p>
            <a href="produto" class="btn btn-primary stretched-link">clicar</a>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="raposa.jpg" class="img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">Banda vermelho fofo</h5>
            <p class="card-text">O panda-vermelho é um animal solitário que possui cabeça redonda, focinho curto e orelhas triangulares. Seu pelo marrom tem um aspecto avermelhado</p>
            <a href="produto" class="btn btn-primary stretched-link">clicar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="oxolote.peg.jpeg" class="img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">oxolote fofo</h5>
            <p class="card-text">Sua família comprende os esquilos arborícolas</p>
            <a href="produto" class="btn btn-primary stretched-link">clicar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

-->

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
