<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <div class="card" style="width: 18rem;">
    <img src="col" class="" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fguiaanimal.net%2Farticles%2F1055&psig=AOvVaw162ea-ISZhntPo8Ku3OkAY&ust=1694809681607000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCMiJ7qP4qoEDFQAAAAAdAAAAABAI">
    <div class="card-body">
      <h5 class="card-title">Card with stretched link</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="col" class="" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fpin%2F2462974786906222%2F&psig=AOvVaw162ea-ISZhntPo8Ku3OkAY&ust=1694809681607000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCMiJ7qP4qoEDFQAAAAAdAAAAABAb">
    <div class="card-body">
      <h5 class="card-title">Card with stretched link</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
    </div>
  </div>
</body>
</html>